static/
__pycache__/
.env
.DJANGO_SECRET_KEY
dist/
rsync-excludes-forbackup
rsync-excludes-forsync
rsync-excludes-forsynctoTest
scrpt-rsync-backup.txt
scrpt-rsync-sync.txt
scrpt-rsync-sync-to-vimxx.txt
scrpt-rsync-synctoTest.txt
scrpt-rsync-vh-sync.txt
.idea/
Resources/
config/gunicorn/
db.sqlite3
fixtures/

