{% extends 'baseadmin.html' %}
{% load static %}

{% block content %}
<style>

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #d3e1e2;
}

.cktab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 30px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.cktab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.cktab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.cktab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks" id="defaultOpen" name="London" onclick="openCity(event, 'London')">Initiatie</button>
    <button class="tablinks" name='Magaren' onclick="openCity(event, 'Magaren')">Status</button>
    <button class="tablinks" name='Paris' onclick="openCity(event, 'Paris')">Telefonische voorbereiding</button>
    <button class="tablinks" name='Tokyo' onclick="openCity(event, 'Tokyo')">Afspraakbevestiging</button>
    <button class="tablinks" name='Amsterdam' onclick="openCity(event, 'Amsterdam')">Verhuurder</button>
    <button class="tablinks" name='Woerden' onclick="openCity(event, 'Woerden')">Wensen</button>
    <button class="tablinks" name='Vinkel' onclick="openCity(event, 'Vinkel')">Algemeen</button>
    <button class="tablinks" name='Oss' onclick="openCity(event, 'Oss')">Woonkamer</button>
    <button class="tablinks" name='Heesh' onclick="openCity(event, 'Heesh')">Keuken</button>
    <button class="tablinks" name='Berghem' onclick="openCity(event, 'Berghem')">Gang</button>
    <button class="tablinks" name='Lith' onclick="openCity(event, 'Lith')">CV / Warm water</button>
    <button class="tablinks" name='Oyen' onclick="openCity(event, 'Oyen')">Slaapkamer</button>
    <button class="tablinks" name='Geffen' onclick="openCity(event, 'Geffen')">Tuin</button>
    <button class="tablinks" name='Schaik' onclick="openCity(event, 'Schaik')">Schuur</button>
    <button class="tablinks" name='Nuland' onclick="openCity(event, 'Nuland')">Bespaaradvies</button>
</div>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" id="theTab", name="theTab">

    <div class="cktab">
        <button class="" >Opslaan</button>
        <a href="{% url 'drzData:add_coachgesprek' %}" ><button type="button" class="" >Nieuw</button></a>
    </div>

    {{ form.media }}

<!--Hier errormessages die op alle tabs gelezen moeten kunnen worden    -->
    <div class="cktab">
        Errors:&nbsp;
        {% for field in form.visible_fields %}
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>

<!-- Tab content -->
<div id="London" class="tabcontent">
    <h2>{% if object %}Wijzig{% else %}Nieuwe{% endif %} Coachgesprek</h2>

    {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
            <ul>
                {% for error in hidden_field.errors %}
                    <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:":4" %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                        <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

<!--    {{ form.as_table }}-->

<!--    {% for field in form|slice:":3" %}-->
<!--    {% endfor %}-->

<!--    <button>Opslaan</button>-->

</div>


<div id="Magaren" class="tabcontent">
    <h2>Status van coachgesprek</h2>

    <div class="cktab">
        {% if form.instance.id %}
<!--            <a href="{% url 'drzData:snd_bevestcoachgespr' form.instance.id  %}" ><button type="button" class="" >Stuur bevestigings e-mail</button></a>-->
            <button name='sendmail' type="submit" class="" >Stuur bevestigings e-mail</button>
        {% endif %}
    </div>

    <div class="cktab">
<!--            {% if object_list.mededeling != '' %}-->
<!--                {{ object.mededeling }}-->
<!--            {% endif %}-->
<!--            {% if CtrlField %}-->
<!--                hallo {{ CtrlField }}-->
<!--            {% else %}-->
<!--                geen Ctrl object-->
<!--            {% endif %}-->

        {% if messages %}
            {% for message in messages %}
<!--                    <div>-->
                {{message}}
<!--                    </div>-->
            {% endfor %}
        {% endif %}
    </div>

    {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
            <ul>
                {% for error in hidden_field.errors %}
                    <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"4:5" %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                        <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Paris" class="tabcontent">
    <h2>Telefonische voorbereiding met de bewoner</h2>

    {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
            <ul>
                {% for error in hidden_field.errors %}
                    <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"5:12" %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                        <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Tokyo" class="tabcontent">
    <h2>Afspraakbevestiging met bewoner</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"12:16" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Amsterdam" class="tabcontent">
    <h2>Gegevens van de verhuurder (indien mogelijk)</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"16:21" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Woerden" class="tabcontent">
    <h2>Wensen bespreken</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"21:28" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Vinkel" class="tabcontent">
    <h2>Woningtour: Algemeen</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"28:35" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Oss" class="tabcontent">
    <h2>Woningtour: Woonkamer</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"35:40" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Heesh" class="tabcontent">
    <h2>Woningtour: Keuken</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"40:50" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Berghem" class="tabcontent">
    <h2>Woningtour: Gang</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"50:56" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Lith" class="tabcontent">
    <h2>Woningtour: CV-Ketel / Warm water</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"56:64" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Oyen" class="tabcontent">
    <h2>Woningtour: Slaapkamer</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"64:71" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Geffen" class="tabcontent">
    <h2>Woningtour: Tuin</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"71:75" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Schaik" class="tabcontent">
    <h2>Woningtour: Schuur</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"75:77" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Nuland" class="tabcontent">
    <h2>Bespaaradvies</h2>

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {% if hidden_field.errors %}
        <ul>
            {% for error in hidden_field.errors %}
            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ hidden_field }}
    {% endfor %}

    <table >
        {% for field in form.visible_fields|slice:"77:78" %}
        <tr>
            <th>{{ field.label_tag }}</th>
                <td>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <br />{{ field.help_text }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

</form>
<script>
function openCity(evt, cityName) {
// Declare all variables
var i, tabcontent, tablinks;

// Get all elements with class="tabcontent" and hide them
tabcontent = document.getElementsByClassName("tabcontent");
for (i = 0; i < tabcontent.length; i++) {
tabcontent[i].style.display = "none";
}

// Get all elements with class="tablinks" and remove the class "active"
tablinks = document.getElementsByClassName("tablinks");
for (i = 0; i < tablinks.length; i++) {
tablinks[i].className = tablinks[i].className.replace(" active", "");
}

// Show the current tab, and add an "active" class to the button that opened the tab
document.getElementById(cityName).style.display = "block";
evt.currentTarget.className += " active";

document.getElementById('theTab').value = cityName;

}
</script>

<script>
// Get the element with id="defaultOpen" and click on it
{% if CtrlField %}
document.getElementsByName("{{ CtrlField }}")[0].click();
{% else %}
document.getElementById("defaultOpen").click();
{% endif %}
</script>

{% block js_page %}

<!------js specific for page------>
<script type="text/javascript" src="{% static 'js/tabbedpages.js' %}"></script>

{% endblock js_page %}

{% endblock %}