{% extends 'baseadmin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css_page %}

<!------css specific for page------>

    <link rel="styleSheet" href="{% static 'css/tabbedpages.css' %}" type="text/css" media="screen">

{% endblock css_page %}

{% block content %}

<!------Tab links------>

    <div class="cktab">
        <span style="padding: 4px 16px; font-weight: bold; font-size: 20px">
            {% if object %}Wijzig{% else %}Nieuw{% endif %} Adviescontact
        </span>
    </div>

    <div class="tab" style="margin-top: 6px">
          <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'London')">Adviescontact</button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">Vragen</button>
          <button class="tablinks" onclick="openCity(event, 'Oss')">Extra Contactgegevens</button>
   <!--     <button class="tablinks" onclick="openCity(event, 'Berghem')">Adressen</button>-->
          <button class="tablinks" onclick="openCity(event, 'Paris')">Woninggegevens</button>
    </div>

    <form action="" method="post">
    {% csrf_token %}

        <div class="cktab">
            <button class="">Opslaan</button>
            <a href="{% url 'drzData:add_adviescontact' %}"><button type="button" class="">Nieuw</button></a>
        </div>

<!------Hier errormessages die op alle tabs gelezen moeten kunnen worden------>

        <div class="cktab" style="height: 55px;">
            <span style="padding: 4px 16px">Meldingen:&nbsp;</span>
            <ul class="errorMessages showinline"></ul>
            {% for field in form.visible_fields %}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            {{ form.errors }}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
           {% endif %}
        </div>

<!------Tab content Adviescontact------>

        <div id="London" class="tabcontent">

<!--            <table>-->
<!--            {{ form.as_table }}-->
<!--            </table>-->


            <table class="mt-8">
                {% for field in form.visible_fields|slice:":6" %}
                    <tr>
                        <th>{{ field.label_tag }}</th>
                        <td>
                            {% if field.errors %}
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ field }}
                            {% if field.help_text %}
                                <br/>{{ field.help_text }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>


            <button class="collapsiblex" style="margin-top:12px;" type="button">Adresgegevens</button>

            <div class="content">
                <table>
                    {% for field in form.visible_fields|slice:"6:12" %}
                        <tr>
                            <th>{{ field.label_tag }}</th>
                            <td>
                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {{ field }}
                                {% if field.help_text %}
                                    <br/>{{ field.help_text }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <table style="margin-top:12px; margin-bottom:50px;">
                {% for field in form.visible_fields|slice:"12:14" %}
                    <tr>
                        <th>{{ field.label_tag }}</th>
                        <td>
                            {% if field.errors %}
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ field }}
                            {% if field.help_text %}
                                <br/>{{ field.help_text }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>





        <div id="Paris" class="tabcontent">
            <h2>Woninggegevens bij dit Adviescontact</h2>

            {{ woninggeg_formset|crispy }}

<!--            {{ woninggeg_formset.management_form }}-->
<!--            {% for form in woninggeg_formset %}-->
<!--                <div class="d-flex py-1 inline {{ product_meta_formset.prefix }}">-->
<!--                    <div>{{form.wng_TypeWoning.label}}: {{ form.wng_TypeWoning }}</div>-->
<!--                    <div>{{form.wng_Bouwjaar.label}}: {{ form.wng_Bouwjaar }}</div>-->
<!--                    <div>{{form.wng_Bewoning.label}}: {{ form.wng_Bewoning }}</div>-->
<!--                    &lt;!&ndash;<div class="ml-4">{{form.value.label}}: {{ form.value }}</div>&ndash;&gt;-->
<!--                    {% if woninggeg_formset.can_delete %}-->
<!--                        <div class="ml-4">{{ form.DELETE }} {{ form.DELETE.label }}</div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            {% endfor %}-->
        </div>

        <div id="Tokyo" class="tabcontent">
            <h2>Vraag / vragen bij dit Adviescontact</h2>

                   {{ vraag_formset.management_form }}

                    {% for vrgform in vraag_formset.forms %}
                    <div class='table'>
                        {% if vrgform.instance.id %}
                            <a href="{% url 'drzData:mail_vraag' vrgform.instance.id form.instance.id  %}" class="btn btn-info">Stuur bevestigings e-mail naar contact</a>
                            <div class="cktab">
                                 {% if messages %}
                                   {% for message in messages %}
                                        {{message}}
                                   {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}

                    <table class='no_error'>
                        {{ vrgform.as_table }}
                    </table>
                    </div>
                    {% endfor %}

<!--                    {% for form in vraag_formset %}-->
<!--                        <div class="d-flex py-1 inline {{ product_meta_formset.prefix }}">-->
<!--                            <div>{{form.vrg_Tekst.label}}: {{ form.vrg_Tekst }}</div>-->
<!--                            &lt;!&ndash;<div class="ml-4">{{form.value.label}}: {{ form.value }}</div>&ndash;&gt;-->
<!--                            {% if vraag_formset.can_delete %}-->
<!--                                <div class="ml-4">{{ form.DELETE }} {{ form.DELETE.label }}</div>-->
<!--                            {% endif %}-->
<!--                        </div>-->
<!--                    {% endfor %}-->

        </div>

        <div id="Oss" class="tabcontent">
              <h2>Telefoon, e-mail, enz.</h2>
                    {{ nummer_formset|crispy }}
              <hr>
              <h2 style="margin-top: 20px;">Adressen (woonadres, postadres, verblijfadres, enz.)</h2>
                    {{ adres_formset|crispy }}
        </div>

    </form>

    <script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

    <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

{% endblock %}

{% block js_page %}

<!------js specific for page------>

    <script type="text/javascript" src="{% static 'js/tabbedpages.js' %}">
    </script>

{% endblock js_page %}