{% extends 'baseadmin.html' %}
{% load static %}

{% block css_page %}

<!------css specific for page------>

    <link rel="styleSheet" href="{% static 'css/tabbedpages.css' %}" type="text/css" media="screen">

{% endblock css_page %}

{% block content %}

    <div class="cktab" style="height: 55px">
        <span style="padding: 4px 16px; font-weight: bold; font-size: 20px">
            Turfscherm anonieme winkelbezoekers
        </span><br>
        <span style="padding: 4px 16px">
            inclusief geregistreerde bezoekers
        </span>
    </div>

<form action="" method="post">
    {% csrf_token %}

<div class="cktab">
    <button class="" name="OpslaanNieuw" >Opslaan en reset</button>
    <button class="" name="NieuwAdviesCont" >Opslaan en naar contactgegevens</button>
</div>

<h3 style="margin-top: 30px; margin-bottom: 30px">Score voor vandaag is: {{ score }} Winkelbezoeken</h3>

<!--{{ form.as_p }}-->
<table>
    {{ form.as_table }}
</table>

<!--<button>Opslaan</button>-->
</form>

<div class="col-sm-3 mt-8" style="margin-bottom: 50px">
    <table class="table table-bordered " border="1">
        <tr>
            <td colspan="4" style="font-weight: bold;">Totaal bezoekredenen vandaag:</td>
        </tr>
        {{ redenen.count }}
        {% for reden in redenen %}
            <tr>
                <td>{{reden.0}}</td>
                <td>{{reden.1}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

