{% extends 'base-land.html' %}

    {% block title %}
        Dashboard
    {% endblock title %}

    {% block content %}
    <div class="dw_head">
        <div class="dw_logo">
        </div>
        <div class="dw_title">
            Duurzaamheidswinkel<br>Dashboard
        </div>
    </div>

    <div class="dw_blocks">

        <a href="{% url 'drzData:add_winkelbezoek' %}">
            <div class="dw_block">
                <div class="dw_icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                Winkelbezoeken<br><br>
                <div class="remark">
                    <ul class="opmrk" >
                        <li>
                            Registratie van anonieme klanten
                        </li>
                        <li>
                            Door winkelmedewerkers
                        </li>
                        <li>
                            Op centrale computer
                        </li>
                    </ul>
                </div>
                <div class="dw_button">
                    Turfscherm
                </div>
            </div>
        </a>

        <a href="{% url 'drzData:add_klantselfserv' %}">
            <div class="dw_block">
                <div class="dw_icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                Basisregistratie door Bezoeker<br>
                <div class="remark">
                    <ul class="opmrk" >
                        <li>
                            Gegevensregistratie
                        </li>
                        <li>
                            Vragen doorgeven
                        </li>
                        <li>
                            Door winkelbezoekers
                        </li>
                        <li>
                            Op centrale computer
                        </li>
                    </ul>
                </div>
                <div class="dw_button">
                    Bezoekersscherm
                </div>
            </div>
        </a>

        <a href="{% url 'drzData:add_adviescontact' %}">
            <div class="dw_block">
                <div class="dw_icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                Basisregistratie door Medewerker<br>
                <div class="remark">
                    <ul class="opmrk">
                        <li>
                            Gegevensregistratie
                        </li>
                        <li>
                            Vragen doorgeven
                        </li>
                        <li>
                            Door winkelmedewerkers
                        </li>
                        <li>
                            Op toegewezen computer
                        </li>
                    </ul>
                </div>
                <div class="dw_button">
                    Medewerkersscherm
                </div>
            </div>
        </a>

    </div>

    <div class="dw_blocks">

        <a href="{% url 'drzData:in_aanbouw' %}">
            <div class="dw_block">
                <div class="dw_icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                Bezoekers met openstaande vragen<br>
                <div class="remark">
                    <ul class="opmrk">
                        <li>
                            Vragen inzien en erop reageren
                        </li>
                        <li>
                            Door gemachtigde medewerkers
                        </li>
                        <li>
                            Op toegewezen computer
                        </li>
                    </ul>
                </div>

                <div class="dw_button">
                    Vragen
                </div>
            </div>
        </a>

        <a href="{% url 'drzData:add_coachgesprek' %}">
            <div class="dw_block">
                <div class="dw_icon">
                    <i class="fa fa-briefcase"></i>
                </div>
                Energiecoach verslaglegging<br>
                <div class="remark">
                   <ul class="opmrk">
                        <li>
                            Coachingstraject inplannen en registreren
                        </li>
                        <li>
                            Door energiecoaches en gemachtigden
                        </li>
                        <li>
                            Openen op toegewezen computer
                        </li>
                    </ul>
                </div>

                <div class="dw_button">
                    Energiecoach
                </div>
            </div>
        </a>

        <a href="{% url 'drzData:in_aanbouw' %}">
            <div class="dw_block">
                <div class="dw_icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                Gegevensuitvoer<br><br>
                <div class="remark">
                    <ul class="opmrk">
                        <li>
                            Bekijk gegevens database
                        </li>
                        <li>
                            Download gegevens database
                        </li>
                        <li>
                            Print gegevens database
                        </li>
                    </ul>
                </div>
                <div class="dw_button">
                    Uitvoeren
                </div>
            </div>
        </a>

    </div>

    <div class="dw_blocks">

        <div class="dw_block">
            <div class="dw_icon">
                <i class="fa fa-key"></i>
            </div>
            {% if not user.is_authenticated %}
            <div class="remark" style="margin-bottom:40px; margin-top:40px">
                Hier kunt u in het dashboard als beheerder inloggen
            </div>
            <a href="{% url 'admin:index' %}">
                <div class="dw_button">
                    Inloggen
                </div>
            </a>
            {% else %}
            <div class="remark" style="margin-bottom:40px; margin-top:40px">
                U bent ingelogd als
                <b>"{{ user.get_username }}"</b><br>
                Hier kunt u uitloggen
            </div>
            <a href="{% url 'admin:logout' %}">
                <div class="dw_button">
                    Uitloggen
                </div>
            </a>
            {% endif %}
        </div>


        <a href="{% url 'drzData:in_aanbouw' %}">
            <div class="dw_block">
                <div class="dw_icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div style="margin-bottom: 12px; font-size: 45px">
                    Hulp nodig?
                </div>
                <div class="remark">
                    Lees dan de helpmodule of stel een vraag
                </div>
                <div class="dw_button">
                    Help
                </div>
            </div>
        </a>

        <a href="{% url 'drzData:in_aanbouw' %}">
            <div class="dw_block">
                <div class="dw_icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                Verbeterpunten APP<br><br>
                <div class="remark">
                    <ul class="opmrk">
                        <li>
                            Gewenste features melden
                        </li>
                        <li>
                            Geconstateerde bugs rapporteren
                        </li>
                        <li>
                            Voortgang ontwikkeling website
                        </li>
                    </ul>
                </div>
                <div class="dw_button">
                    Actielijst
                </div>
            </div>
        </a>

    </div>

    <div style="margin-bottom: 50px"></div>
    {% endblock content %}
