<!DOCTYPE html>
<html lang="nl-NL">
<head>
	<title>DW Dashboard</title>
	<META name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<meta name="description" content="Description goes here.">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="styleSheet" href="{% static 'css/stylesheet.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<!--<script src="https://kit.fontawesome.com/fd0285fec2.js"></script>-->

<body id="top">

<div class="dw_head">
    <div class="dw_logo"></div>
    <div class="dw_title">Duurzaamheidswinkel Dashboard</div>
</div>
    
    <div class="sep">Basis-functies:</div>

    <div class="dw_blocks">
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-store"></i></div>Winkelbezoek<br>
        <div class="remark">Iemand in de winkel? Hier kun je de gegevens van de winkelbezoeker invoeren.</div>
        <div class="dw_button">Winkel </div>
    </div>
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-comment-medical"></i></div>Open vragen<br>
        <div class="remark">Open vragen kun je hier invoeren, wijzigen en erop reageren.</div>
        <div class="dw_button">Vraag </div>
    </div>
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-house-user"></i></div>Adviescontact<br>
        <div class="remark">Woning bezocht? Hier kun je de gegevens van een adviescontact invoeren.</div>     <div class="dw_button">Advies</div>
    </div>
    </div>
    
    <div class="dw_blocks">
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-briefcase"></i></div>Coachgesprek<br>
        <div class="remark">Op gesprek geweest? Hier kun je als energiecoach gegevens invoeren.</div>
        <div class="dw_button">Coach </div>
    </div>
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-question-circle"></i></div>Hulp nodig?<br>
        <div class="remark">Lees de handleiding of stel een vraag over dit dashboard.</div>
        <div class="dw_button">Help</div>
    </div>
    </div>
    
    <div class="sep">Geavanceerde functies: </div>

    <div class="dw_blocks">
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-key"></i></div>Beheer<br>
        <div class="remark">Hier kun je inloggen als beheerder in het dashboard.</div>
        <div class="dw_button">Inloggen</div>
    </div>
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-file-download"></i></div>Gegevens<br>
        <div class="remark">Bekijk, download of print gegevens die in het dashboard zitten.</div>
        <div class="dw_button">Uitvoeren</div>
    </div>
    </div>

</body>
</html>
