{% extends 'base.html' %}

{% block title %}
    Duurzaam Woerden DataEntry Index pagina
{% endblock title %}



{% block content %}

    <h1>DataEntry Duurzaam Woerden</h1>
<!--    <h3>Test omgeving</h3>-->
    <br>
    <h2>Log in voor de volledige admin-omgeving</h2>

    <!--Toon de artikelen-->
    <section class="text-center mb-4">

      {% if deArtikelen.count == 0 %}
      <h2>No items in object list</h2>
      {% endif %}

      <div class="row wow fadeIn">


        {% for item in deArtikelen %}
        <div class="col-lg-3 col-md-6 mb-4">

          <div class="card">

            <div class="view overlay">
              {% if item.art_Image %}
              <img src="{{ item.art_Image.url }}" class="card-img-top">
              {% endif %}
              <a href="{%url 'drzData:product' item.id %}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body text-center">
              <a href="" class="grey-text">
                <h5>Product categorie</h5>
              </a>
              <h5>
                <strong>
                <div class="row" style="text-overflow: ellipsis;">
                  <a href="{%url 'drzData:product' item.id %}" class="dark-grey-text">{{ item.art_Nm }}
                  </div>
                  </a>
                </strong>
              </h5>

            </div>

          </div>

        </div>
        {% endfor %}
      </div>

    </section>
    <!--Section: Products v.3-->



<div class="dw_head">
    <div class="dw_logo"></div>
    <div class="dw_title">Duurzaamheidswinkel Dashboard</div>
</div>

    <div class="sep">Basis-functies:</div>

    <div class="dw_blocks">
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-store"></i></div>Winkelbezoek<br>
        <div class="remark">Iemand in de winkel? Hier kun je de gegevens van de winkelbezoeker invoeren.</div>
        <div class="dw_button">Winkel </div>
    </div>
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-comment-medical"></i></div>Open vragen<br>
        <div class="remark">Open vragen kun je hier invoeren, wijzigen en erop reageren.</div>
        <div class="dw_button">Vraag </div>
    </div>
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-house-user"></i></div>Adviescontact<br>
        <div class="remark">Woning bezocht? Hier kun je de gegevens van een adviescontact invoeren.</div>     <div class="dw_button">Advies</div>
    </div>
    </div>

    <div class="dw_blocks">
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-briefcase"></i></div>Coachgesprek<br>
        <div class="remark">Op gesprek geweest? Hier kun je als energiecoach gegevens invoeren.</div>
        <div class="dw_button">Coach </div>
    </div>
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-question-circle"></i></div>Hulp nodig?<br>
        <div class="remark">Lees de handleiding of stel een vraag over dit dashboard.</div>
        <div class="dw_button">Help</div>
    </div>
    </div>

    <div class="sep">Geavanceerde functies: </div>

    <div class="dw_blocks">
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-key"></i></div>Beheer<br>
        <div class="remark">Hier kun je inloggen als beheerder in het dashboard.</div>
        <div class="dw_button">Inloggen</div>
    </div>
    <div class="dw_block">
        <div class="dw_icon"><i class="fas fa-file-download"></i></div>Gegevens<br>
        <div class="remark">Bekijk, download of print gegevens die in het dashboard zitten.</div>
        <div class="dw_button">Uitvoeren</div>
    </div>
    </div>


{% endblock content %}